<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272500458494-knt9904k2u53gkhu79nme4hku59v90qj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272500458494-knt9904k2u53gkhu79nme4hku59v90qj</string>
	<key>API_KEY</key>
	<string>AIzaSyBfiGA4qGnQY8DjhsOkK94DTz8-dtMvf7U</string>
	<key>GCM_SENDER_ID</key>
	<string>272500458494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatroom999</string>
	<key>PROJECT_ID</key>
	<string>chatroom-8dc80</string>
	<key>STORAGE_BUCKET</key>
	<string>chatroom-8dc80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272500458494:ios:9b0d2f3b694ec2516f76af</string>
	<key>DATABASE_URL</key>
	<string>https://chatroom-8dc80.firebaseio.com</string>
</dict>
</plist>